@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 42, 42);
    font-family: "Roboto", sans-serif;
}

#myH1{
    font-size: 4rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.404);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    width: 60%;
    height: 20rem;
    padding: 16px;
}
#display{
    font-size: 4.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.404);
    margin-bottom: 20px;
}
#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px 16px;
    margin: 4px;
    border-radius: 18px;
    min-width: 124px;
    border-style: none;
    cursor: pointer;
}

#startBtn {
    background-color: rgb(99, 255, 27);
}
#startBtn:hover {
    background-color: rgb(0, 182, 21);
    transition: ease-in-out 300ms;
}

#stopBtn {
    background-color: rgb(255, 30, 30);
}
#stopBtn:hover {
    background-color: rgb(198, 0, 0);
    transition: ease-in-out 300ms;
}

#resetBtn {
    background-color: rgb(40, 226, 255);
}
#resetBtn:hover {
    background-color: rgb(0, 168, 206);
    transition: ease-in-out 300ms;
}

@media screen and (max-width: 768px) {

    #myH1{
        font-size: 3.5rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsla(0, 0%, 0%, 0.404);
        backdrop-filter: blur(10px);
        border-radius: 24px;
        width: 85%;
        height: 20rem;
        padding: 16px;
    }
    #display{
        font-size: 3.5rem;
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.404);
        margin-bottom: 20px;
    }
    #controls button {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 8px 16px;
        margin: 4px;
        border-radius: 18px;
        min-width: 90px;
        border-style: none;
        cursor: pointer;
    }
}


@media screen and (max-width: 480px) {

    #myH1{
        font-size: 3.5rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsla(0, 0%, 0%, 0.404);
        backdrop-filter: blur(10px);
        border-radius: 24px;
        width: 85%;
        height: 20rem;
        padding: 16px;
    }
    #display{
        font-size: 3.4rem;
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.404);
        margin-bottom: 20px;
    }
    #controls button {
        font-size: 1.35rem;
        font-weight: bold;
        padding: 8px 16px;
        margin: 4px;
        border-radius: 18px;
        min-width: 80px;
        border-style: none;
        cursor: pointer;
    }
}